@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1d1b27;
  --foreground: #ffffff;
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #1D1B27;
    --foreground: #ededed;
  }
} */
/* textarea:-webkit-autofill,
input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
  color: white !important
} */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: transparent !important;
  -webkit-text-fill-color: #ffffff inset !important;
}

body {
  color: var(--foreground);
  background: var(--background);
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .border-gradient {
    border: 2px solid;
    /* border-image-source: linear-gradient(
      254.39deg,
      #8150ed -3.62%,
      #ffffff 93.14%
    ); */
  }

  .autofill-text:-webkit-autofill {
    -webkit-text-fill-color: white;
  }

  .text-input {
    @apply autofill-text; /* set text colour (white) */
  }

  .border-gradient-2 {
    border: 2px solid;
    border-image-source: linear-gradient(90deg, #8150ed 0%, #0c6cf2 100%);
  }

  .shadow-gradient {
    box-shadow: 0px 8px 16px 0px #462fcf42;
  }

  .bg-gradient {
    background: linear-gradient(265.68deg, #8250ed 4.25%, #452ece 94.86%);
  }

  .icon-gradient {
    background: linear-gradient(234.8deg, #8250ed 4.27%, #452ece 96.76%);
  }
}

.checkbox-custom {
  --checkbox-size: 32px; /* Set the desired size of the checkbox */
  --checkbox-tick-width: 8px; /* Set the desired thickness of the checkbox tick */
  appearance: none;
  -webkit-appearance: none;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  /* border: 2px solid #cfb4f133; */
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  background-color: #d9d9d91a;
}

.checkbox-custom:checked {
  background-color: #d9d9d91a;
}

.checkbox-custom:checked::before {
  content: "";
  width: 32%;
  height: 70%;
  border-bottom: var(--checkbox-tick-width) solid #fff;
  border-right: var(--checkbox-tick-width) solid #fff;
  border-width: 2px;
  border-top: none;
  border-left: none;
  transform: rotate(45deg);
  margin-bottom: 4px;
}

.radio-custom {
  --radio-size: 24px; /* Set the desired size of the radio button */
  appearance: none;
  -webkit-appearance: none;
  width: var(--radio-size);
  height: var(--radio-size);
  border: 2px solid #cfb4f133;
  border-radius: 50%; /* Makes it circular */
  background-color: #d9d9d91a;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  cursor: pointer;
}

.radio-custom:checked {
  border-color: #cfb4f1; /* Change border color on checked state */
  background-color: #cfb4f133; /* Optional background color change */
}

.radio-custom:checked::before {
  content: "";
  width: 50%; /* Adjust size of the inner dot */
  height: 50%;
  background-color: #cfb4f1; /* Color of the inner dot */
  border-radius: 50%;
  display: block;
}


.circle-background,
.circle-progress {
  fill: none;
}

input:-webkit-autofill {
  background-color: rgba(26, 26, 26, 0.4) !important; /* Same as your input background */
  color: inherit !important; /* Ensures text color remains consistent */
  -webkit-text-fill-color: inherit !important; /* Ensures text color remains consistent */
  transition: background-color 5000s ease-in-out 0s; /* Prevents flicker */
}

.circle-background {
  stroke: #ddd;
}

.circle-dashes {
  stroke: #00ff00;
  fill: none;
  border-width: 0;
}

.circle-progress {
  stroke: #f99123;
}

@layer components{
  .button-primary {
    @apply bg-gradient-to-r from-[#8250ED] to-[#452ECE] items-center flex cursor-pointer rounded-[10px]
  }

  .button-dark {
    @apply bg-grey-bg items-center flex cursor-pointer rounded-[10px]
  }
}
